@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* -------------------------------------------------
共通レイアウト
----------------------------------------------------*/
/* ---変数定義---*/
/* ------------*/
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
html body {
  font-size: 1.6em;
  font-family: "Noto Serif JP", serif;
  color: #313131;
}
html body .wrapper {
  width: 90%;
  margin: 0% auto;
  margin-bottom: 3%;
  background-color: #f0e8ec;
  -webkit-box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
          box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  border-radius: 0 0 10% 1%;
}

/*========= ローディング画面のためのCSS ===============*/
#splash {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #313131;
  z-index: 9999999;
  text-align: center;
  color: #fff;
}

#splash-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*========= 画面遷移のためのCSS ===============*/
/*画面遷移アニメーション*/
.splashbg {
  display: none;
}

/*bodyにappearクラスがついたら出現*/
body.appear .splashbg {
  display: block;
  content: "";
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  background-color: #313131;
  /*伸びる背景色の設定*/
  -webkit-animation-name: pageAnime;
          animation-name: pageAnime;
  -webkit-animation-duration: 1.2s;
          animation-duration: 1.2s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes pageAnime {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50.001% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}

@keyframes pageAnime {
  0% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
  50% {
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  50.001% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
  }
  100% {
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
  }
}
/*画面遷移の後現れるコンテンツ設定*/
.wrapper {
  opacity: 0;
  /*はじめは透過0に*/
}

/*bodyにappearクラスがついたら出現*/
body.appear .wrapper {
  -webkit-animation-name: pageAnimeAppear;
          animation-name: pageAnimeAppear;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

@-webkit-keyframes pageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.TextTyping span {
  display: none;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
  content: "|";
  -webkit-animation: typingAnime 0.8s ease infinite;
          animation: typingAnime 0.8s ease infinite;
}

@-webkit-keyframes typingAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes typingAnime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*========= スクロール時ふわっと表示させるCSS ===============*/
/* 下から上へふわっと表示 */
.fadeUp {
  -webkit-animation-name: fadeUpAnime;
          animation-name: fadeUpAnime;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1.3s;
          animation-duration: 1.3s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  opacity: 0;
}

@-webkit-keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/* スクロールをしたら出現する要素にはじめに透過0を指定*/
.delay {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.fadeUpTrigger {
  opacity: 0;
}

/* --------------ヘッダー--------------*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 86.7%;
  margin: 1% auto;
  padding: 1.5% 0;
  font-size: 2rem;
  /* ----ナビゲーション----*/
}
.header .h1-wrap {
  width: 50%;
}
.header .h1-wrap h1 {
  width: 90%;
  position: relative;
  white-space: nowrap;
  letter-spacing: 0.05em;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header .h1-wrap h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3%;
  bottom: 104%;
  left: 0;
  background-color: #000;
}
.header .h1-wrap h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3%;
  bottom: -10%;
  left: 0;
  background-color: #000;
}
.header .h1-wrap h1 a {
  display: block;
  padding: 4% 0 4% 5%;
  text-decoration: none;
  color: #f0e8ec;
  background-color: #31314C;
}
.header .h1-wrap h1 a:hover {
  color: #fff;
  background-color: #313131;
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}
.header .nav {
  width: 50%;
  position: relative;
}
.header .nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: 1.5px solid #000;
}
.header .nav ul li {
  width: 33.3%;
  text-align: center;
}
.header .nav ul li::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 80%;
  bottom: 10%;
  left: 33.3%;
  background-color: #000;
}
.header .nav ul li::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 80%;
  bottom: 10%;
  left: 66.6%;
  background-color: #000;
}
.header .nav ul li a {
  display: block;
  padding: 10% 0;
  margin: 3%;
  text-decoration: none;
  color: #000;
}
.header .nav ul li a:hover {
  color: #fff;
  background-color: rosybrown;
  -webkit-transition: all 0.5s 0s ease;
  transition: all 0.5s 0s ease;
}

/* --------------コンテナ--------------*/
.container {
  width: 86.7%;
  max-width: 1729px;
  margin: 0 auto;
  margin-bottom: -7%;
  border: 1px solid #000;
}

/* --------------トップエリア--------------*/
.topArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.topArea::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 30%;
  top: 0;
  left: 50%;
  background-color: #000;
  opacity: 0;
  -webkit-animation: heightlineAnime 3s infinite ease-in-out forwards;
          animation: heightlineAnime 3s infinite ease-in-out forwards;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}
@-webkit-keyframes heightlineAnime {
  0% {
    height: 0;
    top: 70%;
    opacity: 0;
  }
  30% {
    height: 40%;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 120%;
    opacity: 0;
  }
}
@keyframes heightlineAnime {
  0% {
    height: 0;
    top: 70%;
    opacity: 0;
  }
  30% {
    height: 40%;
    opacity: 1;
  }
  100% {
    height: 0;
    top: 120%;
    opacity: 0;
  }
}
.topArea .topImg {
  width: 45%;
  padding: 3% 0 0 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.topArea .topImg img {
  width: 100%;
  z-index: 1;
}
.topArea .topImg .shadowBox {
  position: absolute;
  top: 9%;
  left: 6%;
  width: 90%;
  height: 95%;
  opacity: 0.3;
  background-color: #313131;
  border-radius: 2% 2% 68% 2%;
  z-index: -1;
  -webkit-animation: shadowAnime 3s forwards;
          animation: shadowAnime 3s forwards;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
@-webkit-keyframes shadowAnime {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
}
@keyframes shadowAnime {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(10%);
            transform: translateX(10%);
  }
}
.topArea .topTxt {
  width: 55%;
  padding: 5%;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  letter-spacing: 0.09em;
}
.topArea .topTxt h1 {
  position: relative;
  font-size: 4.5rem;
  white-space: nowrap;
  margin: 12% 0 0;
  border-bottom: 2px solid #000;
  padding: 0 0 3% 0;
  opacity: 0;
  -webkit-animation: fadeInAnime 3s ease forwards;
          animation: fadeInAnime 3s ease forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@-webkit-keyframes fadeInAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.topArea .topTxt h1 .color-pink {
  color: #eaa0a0;
}
.topArea .topTxt h1::before {
  content: "";
  position: absolute;
  height: 1%;
  bottom: -8%;
  left: 0;
  background-color: #000;
  -webkit-animation: widthlineAnime 3s linear forwards;
          animation: widthlineAnime 3s linear forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  opacity: 0;
}
@-webkit-keyframes widthlineAnime {
  0% {
    opacity: 0;
    width: 20%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
@keyframes widthlineAnime {
  0% {
    opacity: 0;
    width: 20%;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}
.topArea .topTxt h2 {
  font-size: 4rem;
  margin: 15% 0 8%;
  opacity: 0;
  -webkit-animation: fadeInAnime02 2s linear forwards;
          animation: fadeInAnime02 2s linear forwards;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
@-webkit-keyframes fadeInAnime02 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnime02 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.topArea .topTxt h2 .space {
  padding: 0 10%;
}
.topArea .topTxt p {
  font-size: 2rem;
  line-height: 2;
  white-space: pre-line;
  opacity: 0;
  -webkit-animation: fadeInAnime03 0.5s linear forwards;
          animation: fadeInAnime03 0.5s linear forwards;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
@-webkit-keyframes fadeInAnime03 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInAnime03 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --------------メインエリア--------------*/
.pink {
  color: #eaa0a0;
}

.mainArea {
  margin: 15% 5%;
}
.mainArea h2 {
  font-family: "Italianno", cursive;
  font-weight: normal;
  font-size: 8rem;
  font-style: italic;
  text-align: center;
  position: relative;
}
.mainArea h2.rollAnime.roll span {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
  -webkit-transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 0.8s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
          transition-timing-function: cubic-bezier(0.77, 0, 0.175, 1);
  display: inline-block;
}
.mainArea h2::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 1%;
  bottom: 50%;
  right: 60%;
  background-color: #000;
}
.mainArea h2::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 1%;
  bottom: 50%;
  left: 60%;
  background-color: #000;
}
.mainArea p {
  text-align: center;
}

/* --------------skills--------------*/
.skills-contents {
  margin: 10% 0;
}
.skills-contents .skills-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin: 5%;
}
.skills-contents .skills-wrap::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 90%;
  bottom: 5%;
  left: 50%;
  background-color: #000;
}
.skills-contents .skills-wrap .skills-inner {
  width: 45%;
  text-align: center;
  padding: 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skills-contents .skills-wrap .skills-inner img {
  width: 100%;
}
.skills-contents .skills-wrap .skills-inner .skillsTxt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 7% 3%;
}
.skills-contents .skills-wrap .skills-inner .skillsTxt h3 {
  font-size: 2rem;
}
.skills-contents .skills-wrap .skills-inner .skillsTxt p {
  text-align: initial;
  font-size: 1.6rem;
  line-height: 1.8;
  letter-spacing: 0.2rem;
  margin: 7% 0 0 0;
}
.skills-contents .skills-wrap .skills-inner .skills-detail {
  background-color: #313131;
  color: #f0e8ec;
  padding: 13% 15%;
  border-radius: 15px;
  font-size: 1.6rem;
  line-height: 2;
}
.skills-contents .skills-wrap .skills-inner .skills-detail dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* --------------works--------------*/
.works-contents {
  margin: 15% 0;
}
.works-contents .works-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 7% 0;
}
.works-contents .works-wrap .works-inner {
  width: 31%;
  margin-bottom: 7%;
}
.works-contents .works-wrap .works-inner:hover .works-mask {
  opacity: 1;
  padding-top: 20%;
}
.works-contents .works-wrap .works-inner a {
  text-decoration: none;
  color: #313131;
}
.works-contents .works-wrap .works-inner a div {
  position: relative;
  overflow: hidden;
}
.works-contents .works-wrap .works-inner a div img {
  max-width: 100%;
}
.works-contents .works-wrap .works-inner a div .works-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.works-contents .works-wrap .works-inner a div .works-caption {
  text-align: center;
  color: #fff;
  font-size: 2rem;
}
.works-contents .works-wrap .works-inner a p {
  text-align: center;
  padding-top: 5%;
  line-height: 1.5;
}

/* --------------about--------------*/
.about-contents {
  margin: 10% 0;
}
.about-contents .about-wrap {
  margin: 5%;
}
.about-contents .about-wrap .about-inner {
  position: relative;
}
.about-contents .about-wrap .about-inner .about-txt {
  position: absolute;
  top: 55px;
  left: 42px;
  z-index: 10;
  background-color: rgba(234, 160, 160, 0.6);
  padding: 7% 10% 10% 7%;
}
.about-contents .about-wrap .about-inner .about-txt p {
  margin-top: 10%;
  line-height: 1.5;
}
.about-contents .about-wrap .about-inner .about-img {
  position: absolute;
  top: 13%;
  right: 5%;
  width: 45%;
}
.about-contents .about-wrap .about-inner .about-img img {
  width: 100%;
}

/* --------------contact--------------*/
.contact-contents {
  margin: 80% 0 10%;
}
.contact-contents .contact-wrap {
  margin: 7% 7% 25%;
}
.contact-contents .contact-wrap p {
  text-align: center;
  margin-bottom: 10%;
}

/* --------ボタン--------*/
.button {
  position: relative;
  padding: 1em 1.5em;
  margin: 0 auto;
  width: 50%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  text-align: center;
  font-size: 1.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #eaa0a0;
}
.button::after, .button::before {
  content: "";
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  border-radius: 2px;
}
.button::after {
  bottom: 0;
  right: 0;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #313131;
  border-right-color: #313131;
}
.button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: #313131;
  border-left-color: #313131;
}
.button:hover:after, .button:hover:before {
  border-bottom-color: #313131;
  border-right-color: #313131;
  border-top-color: #313131;
  border-left-color: #313131;
  width: 100%;
  height: 100%;
}

/* --------------footer--------------*/
.footer {
  position: relative;
}
.footer .footer-img {
  max-width: 100%;
  position: relative;
  top: 0;
  left: -7%;
}
.footer .footer-img img {
  width: 100%;
  vertical-align: top;
}
.footer p {
  position: absolute;
  top: 53%;
  right: 8%;
  font-style: italic;
}

/* -------------------------------------------------
レスポンシブ対応
----------------------------------------------------*/
/*========= タブレット対応 ===============*/
@media screen and (max-width: 1024px) {
  /* --------------topArea--------------*/
  .topArea {
    display: block;
  }
  .topArea::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 30%;
    top: 0;
    left: 50%;
    background-color: #000;
    opacity: 0;
    -webkit-animation: heightlineAnime 3s infinite ease-in-out forwards;
            animation: heightlineAnime 3s infinite ease-in-out forwards;
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
  }
  @-webkit-keyframes heightlineAnime {
    0% {
      height: 0;
      top: 130%;
      opacity: 0;
    }
    30% {
      height: 40%;
      opacity: 1;
    }
    100% {
      height: 0;
      top: 160%;
      opacity: 0;
    }
  }
  @keyframes heightlineAnime {
    0% {
      height: 0;
      top: 130%;
      opacity: 0;
    }
    30% {
      height: 40%;
      opacity: 1;
    }
    100% {
      height: 0;
      top: 160%;
      opacity: 0;
    }
  }

  .topArea .topImg {
    width: 50%;
  }

  .topArea .topTxt {
    width: 70%;
    padding: 3%;
    position: absolute;
    top: 25%;
    left: 31%;
    z-index: 999;
  }
  .topArea .topTxt h1 {
    font-size: 4rem;
  }
  .topArea .topTxt h2 {
    font-size: 3.5rem;
  }
  .topArea .topTxt p {
    font-size: 1.6rem;
  }

  /* --------------mainArea--------------*/
  .mainArea {
    margin: 45% 5% 15%;
  }
  .mainArea h2 {
    font-size: 6rem;
  }

  /* --------------skills--------------*/
  .skills-contents .skills-wrap {
    margin: 12% 0 5%;
  }
  .skills-contents .skills-wrap .skills-inner {
    padding: 0;
  }
  .skills-contents .skills-wrap .skills-inner .skillsTxt h3 {
    font-size: 1.8rem;
  }
  .skills-contents .skills-wrap .skills-inner .skillsTxt p {
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
  }
  .skills-contents .skills-wrap .skills-inner .skills-detail {
    padding: 13% 10%;
    font-size: 1.3rem;
  }

  /* --------------works--------------*/
  .works-contents .works-wrap .works-inner {
    width: 45%;
  }

  /* --------------about--------------*/
  .about-contents {
    margin: 10% 0;
  }
  .about-contents .about-wrap {
    margin: 10% 5% 5%;
  }
  .about-contents .about-wrap .about-inner {
    position: relative;
  }
  .about-contents .about-wrap .about-inner .about-txt {
    position: absolute;
    top: 128px;
    left: 42px;
    z-index: 10;
    background-color: rgba(234, 160, 160, 0.6);
    padding: 7% 10% 10% 7%;
  }
  .about-contents .about-wrap .about-inner .about-txt p {
    margin-top: 10%;
    font-size: 1.3rem;
    line-height: 1.5;
  }
  .about-contents .about-wrap .about-inner .about-img {
    position: absolute;
    top: 13%;
    right: 5%;
    width: 45%;
  }
  .about-contents .about-wrap .about-inner .about-img img {
    width: 100%;
  }

  /* --------------contact--------------*/
  .contact-contents {
    margin: 110% 0 10%;
  }
  .contact-contents .contact-wrap {
    margin: 10% 7% 25%;
  }
  .contact-contents .contact-wrap p {
    font-size: 1.4rem;
  }

  .button {
    font-size: 1.3rem;
  }

  /* --------------footer--------------*/
  .footer p {
    font-size: 1rem;
  }
}
/*========= スマホ対応 ===============*/
@media screen and (max-width: 599px) {
  /* --------------ヘッダー--------------*/
  .header {
    padding: 3% 0 1.5%;
    font-size: 1.3rem;
    /* ----ナビゲーション----*/
  }
  .header .h1-wrap {
    width: 100%;
    padding-bottom: 3%;
  }
  .header .h1-wrap h1 {
    width: 100%;
  }
  .header .h1-wrap h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3%;
    bottom: 104%;
    left: 0;
    background-color: #000;
  }
  .header .h1-wrap h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3%;
    bottom: -8%;
    left: 0;
    background-color: #000;
  }
  .header .h1-wrap h1 a {
    display: block;
    padding: 4% 0 4% 5%;
    text-decoration: none;
    color: #f0e8ec;
    background-color: #31314C;
  }
  .header .h1-wrap h1 a:hover {
    color: #fff;
    background-color: #313131;
    -webkit-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
  }
  .header .nav {
    width: 100%;
  }

  /* --------------topArea--------------*/
  .topArea {
    display: block;
  }
  .topArea::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 30%;
    top: 0;
    left: 50%;
    background-color: #000;
    opacity: 0;
    -webkit-animation: heightlineAnime 3s infinite ease-in-out forwards;
            animation: heightlineAnime 3s infinite ease-in-out forwards;
    -webkit-animation-delay: 8s;
            animation-delay: 8s;
  }
  @-webkit-keyframes heightlineAnime {
    0% {
      height: 0;
      top: 160%;
      opacity: 0;
    }
    30% {
      height: 40%;
      opacity: 1;
    }
    100% {
      height: 0;
      top: 190%;
      opacity: 0;
    }
  }
  @keyframes heightlineAnime {
    0% {
      height: 0;
      top: 160%;
      opacity: 0;
    }
    30% {
      height: 40%;
      opacity: 1;
    }
    100% {
      height: 0;
      top: 190%;
      opacity: 0;
    }
  }

  .topArea .topImg {
    width: 54%;
  }

  .topArea .topTxt {
    width: 81%;
    padding: 3%;
    position: absolute;
    top: 31%;
    left: 19%;
    z-index: 999;
  }
  .topArea .topTxt h1 {
    position: relative;
    font-size: 2.5rem;
    white-space: nowrap;
    margin: 12% 0 0;
    border-bottom: 2px solid #000;
    padding: 0 0 3% 0;
    opacity: 0;
    -webkit-animation: fadeInAnime 3s ease forwards;
            animation: fadeInAnime 3s ease forwards;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  @-webkit-keyframes fadeInAnime {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeInAnime {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .topArea .topTxt h1 .color-pink {
    color: #eaa0a0;
  }
  .topArea .topTxt h1::before {
    content: "";
    position: absolute;
    height: 1%;
    bottom: -15%;
    left: 0;
    background-color: #000;
    -webkit-animation: widthlineAnime 3s linear forwards;
            animation: widthlineAnime 3s linear forwards;
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
    opacity: 0;
  }
  @-webkit-keyframes widthlineAnime {
    0% {
      opacity: 0;
      width: 20%;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }
  @keyframes widthlineAnime {
    0% {
      opacity: 0;
      width: 20%;
    }
    100% {
      opacity: 1;
      width: 100%;
    }
  }
  .topArea .topTxt h2 {
    font-size: 1.5rem;
  }
  .topArea .topTxt p {
    font-size: 1rem;
    letter-spacing: 0.02rem;
  }

  /* --------------mainArea--------------*/
  .mainArea {
    margin: 72% 5% 15%;
  }
  .mainArea h2 {
    font-size: 3rem;
    position: relative;
  }
  .mainArea h2::before {
    content: "";
    position: absolute;
    width: 30%;
    height: 1%;
    bottom: 50%;
    right: 70%;
    background-color: #000;
  }
  .mainArea h2::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 1%;
    bottom: 50%;
    left: 70%;
    background-color: #000;
  }
  .mainArea p {
    font-size: 1rem;
  }

  .skills-contents {
    margin: 10% 0;
  }
  .skills-contents .skills-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin: 5%;
  }
  .skills-contents .skills-wrap::before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0%;
    bottom: 0%;
    left: 0%;
  }
  .skills-contents .skills-wrap .skills-inner {
    width: 100%;
    text-align: center;
    padding: 3% 3% 20%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .skills-contents .skills-wrap .skills-inner img {
    width: 100%;
  }
  .skills-contents .skills-wrap .skills-inner .skillsTxt {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 7% 3%;
  }
  .skills-contents .skills-wrap .skills-inner .skillsTxt h3 {
    font-size: 1.6rem;
  }
  .skills-contents .skills-wrap .skills-inner .skills-detail {
    background-color: #313131;
    color: #f0e8ec;
    border-radius: 15px;
    font-size: 1rem;
    line-height: 2;
  }
  .skills-contents .skills-wrap .skills-inner .skills-detail dl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  /* --------------works--------------*/
  .works-contents {
    margin: 15% 0;
  }
  .works-contents .works-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 7% 0;
  }
  .works-contents .works-wrap .works-inner {
    width: 90%;
    margin-bottom: 7%;
  }

  /* --------------about--------------*/
  .about-contents {
    margin: 10% 0;
  }
  .about-contents .about-wrap {
    margin: 10% 5% 5%;
  }
  .about-contents .about-wrap .about-inner {
    position: relative;
  }
  .about-contents .about-wrap .about-inner .about-txt {
    position: absolute;
    top: 55px;
    left: -20px;
    z-index: 10;
    background-color: rgba(234, 160, 160, 0.6);
    width: 100%;
  }
  .about-contents .about-wrap .about-inner .about-txt p {
    font-size: 1rem;
    text-align: start;
  }
  .about-contents .about-wrap .about-inner .about-img {
    position: absolute;
    top: 13%;
    right: 5%;
    width: 45%;
  }
  .about-contents .about-wrap .about-inner .about-img img {
    width: 100%;
  }

  /* --------------contact--------------*/
  .contact-contents {
    margin: 167% 0 10%;
  }
  .contact-contents .contact-wrap {
    margin: 10% 0 25%;
  }
  .contact-contents .contact-wrap p {
    font-size: 0.01rem;
  }

  .button {
    width: 70%;
    font-size: 1rem;
  }

  /* --------------footer--------------*/
  .footer p {
    font-size: 0.01rem;
  }
}
/*# sourceMappingURL=style.css.map */