/* -------------------------------------------------------------------
works01Page - ON/OFCafe詳細ページ
----------------------------------------------------------------------*/

#works01Page{

  .works{
    margin: 0 auto;

    h1{
      color: lightcoral;
    }
    img{
      max-width: 100%;
    }
  }

}