/* -------------------------------------------------------------------
works-webPage - ON/OFCafe・PORTFOLIO詳細ページ
----------------------------------------------------------------------*/

#works-webPage{
  .header{
    animation-name: fadein;
    animation-duration: 1s;
    @keyframes fadein{
      from{
      opacity: 0;
      }
      to{
      opacity: 1;
      }
    }
  }
  .worksPage{
    animation-name: fadein;
    animation-duration: 3s;
    @keyframes fadein{
      from{
      opacity: 0;
      }
      to{
      opacity: 1;
      }
    }
    h1{
      margin: 3% 5% 8%;
      padding: 0 0 1% 2%;
      font-size: 2.5rem;
      font-family: 'Shippori Mincho', serif;
      text-shadow: -4px 0px 1px azure;
      border-bottom: 1px solid;
      position: relative;
      &::first-letter{
        font-size: 7.5rem;
        color: $pink-color;
      }
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 1.6px;
        bottom: -9%;
        left: 0;
        background-color: #000;
      }
    }
    p{
      text-align: center;
      font-size: 2.0rem;
    }
    .url{
      text-align: center;
      margin: 5% 0 7%;
      a{
        font-size: 1.8rem;
        &::after{
          content: '';
          display: inline-block;
          width: 1.6rem;
          height: 1.6rem;
          margin: 0 1%;
          background-image: url(../images/icon_link.png);
          background-repeat: no-repeat;
          background-size: contain;
        }
        &:hover{
          color: rosybrown;
          font-weight: bold;
        }
      }
    }
    .worksPage-inner{
      margin: 0 auto;
      max-width: 640px;
    .worksPage-mocupImg{
      position: relative;
      padding: 4%;
      &::after,
      &::before{
        content: '';
        display: block;
        position: absolute;
        width: 20%;
        height: 20%;
        border: 1.5px solid;
        transition: all 0.6s ease;
        border-radius: 2px;
      }
      &::after{
        bottom: 0;
        right: 0;
        border-top-color: transparent;
        border-left-color: transparent;
        border-bottom-color: $gray-color;
        border-right-color: $gray-color;
      }
      &::before{
        top: 0;
        left: 0;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-top-color: $gray-color;
        border-left-color: $gray-color;
      }
      img{
        max-width: 100%;
      }
    }
    dl{
      display: flex;
      flex-wrap: wrap;
      margin: 15% 0 20%;
      font-size: 1.6rem;
      line-height: 1.8;
      dt{
        width: 20%;
        height: 10%;
        color: #996c33;
        border-left: solid 5px burlywood;
        padding-left: 1%;
      }
      dd{
        width: 80%;        
        margin-bottom: 10%;
        letter-spacing: 0.05rem;
        .outline-margin{
          display: inline-block;
          margin-top: 8%; 
        }
      }
    }
    .comp-wrapper{
      margin-bottom: 30%;
        p{
          position: relative;
          margin-bottom: 10%;
          font-size: 1.8rem;
          &::before{
            content: '';
            position: absolute;
            left: 0%;
            width: 32%;
            height: 8%;
            bottom: 0;
            border-top: dotted 2px #000;
          }
          &::after{
            content: '';
            position: absolute;
            right: 0%;
            width: 32%;
            height: 8%;
            bottom: 0;
            border-top: dotted 2px #000;
          }
        }
      }
    }
  }
}

/* -------------------------------------------------------------------
レスポンシブ対応
----------------------------------------------------------------------*/

/*================== タブレット対応 ========================*/

@media screen and (max-width:1024px){

  #works-webPage{
    .worksPage{
      padding: 0 5%;
      h1{
        margin: 3% 0% 6%;
      }
      .worksPage-inner{
        dl{
          display: block;
          dt{
            width: 100%;
            .br-sp{
              display: none;
            }
          }
          dd{
            width: 100%;
            padding-top: 10%;
          }
        }
      }
    }
  }
  
}

/*======================= スマホ対応 ===========================*/
 
@media screen and (max-width:599px){

  #works-webPage{
    .worksPage{
      h1{
        font-size: 2.0rem;
        margin: 6% 0% 6%;
        &::first-letter{
          font-size: 4.5rem;
        }
        &::before{
          bottom: -14%;
        }
      }
      p{
        font-size: 1.4rem;
        margin: 19% 0 4% 0;
      }
      .url{
        margin: 6% 0 20%;
        a{
          font-size: 1.3rem;
          &::after{
            width: 1.2rem;
            height: 1.2rem;
          }
        }
      }
      .worksPage-inner{
        dl{
          font-size: 1.3rem;
        }     
      .comp-wrapper{
          p{
            font-size: 1.3rem;
            &::before{
              width: 22%;
              height: 8%;
            }
            &::after{
              width: 22%;
              height: 8%;
            }
          }
        }
      }
    } 
  }

}
